In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/finquest-case-study/source_f.csv
/kaggle/input/finquest-json/source_l.json

In [2]:
import pandas as pd

In [3]:
#we can use read_csv for asking pandas to read the file which we want and them specifying the file path

df = pd.read_csv("../input/finquest-case-study/source_f.csv")

In [4]:
df #this is used to display the contents of the data frame upto 10 rows

,_id,Name,Address1,Address2,State,City,Website,YearOfCreation,Country,Tags
0,000d70af-d6ee-4550-8649-6849dd7f2b7b,Keefe Piccolo Co Incorporated,54 Church St,NaN,Massachusetts,Winchester,NaN,2000.0,United States,Law Practice
1,001811d3-8f22-4595-a05e-ee396bd93f94,Zaugh Photography,1777 North Vermont Avenue Apartment 50,NaN,California,Los Angeles,NaN,2004.0,United States,Photography
2,001f15b6-0ecb-4294-ba39-ed37bf91df29,Weatherall CO Incorporated,106 Industrial Way,NaN,Indiana,Charlestown,https://weatherall.com,1982.0,United States,NaN
3,0021fccc-46d2-44b4-99bf-0a9d0d51a589,Digital River Incorporated,59 Beaver St,NaN,Massachusetts,Milford,https://digitalriver.com,1994.0,United States,"Internet, e-commerce solutions, global payment..."
4,00233dae-8e8b-4ff3-a186-8f3f8a6140e4,Mark Patton Consulting Incorporated,145 Mammoth Road,NaN,New Hampshire,Londonderry,NaN,2010.0,United States,NaN
...,...,...,...,...,...,...,...,...,...,...
8773,ffe5ac89-b205-47b2-bfba-08615bde52d6,LEVY Company,412 N 4TH ST,NaN,NaN,BATON ROUGE,http://www.thelevyco.com,1995.0,United States,"Accounting, Business and individual taxes, Tax..."
8774,ffe663e2-f464-4d83-bc18-472141da39c4,Convergent retirement plan,19533 highway 371 n,NaN,Minnesota,Brainerd,https://convergentrps.com,NaN,United States,Financial Services
8775,ffe718dc-789d-4d87-917f-e1b9aeec1270,Barber Built,2 Evergreen Terrace,NaN,Massachusetts,Millis,https://barberbuilt.com,2012.0,United States,Construction
8776,ffeb5d62-3a19-4120-b1ab-f7a1f0e7daac,FE JONES CONSTRUCTION Incorporated,73 GRISWOLD ST,NaN,NaN,BINGHAMTON,http://fejones.com,NaN,United States,Construction
8777,fff659d4-4169-40c5-a70e-c73438aa8624,Stihl Saw Shop,170 7th Avenue West North,NaN,Montana,Kalispell,NaN,NaN,United States,NaN

In [5]:
df.shape #.shape is  used to grab more information about the data file

(8778, 10)

In [6]:
df.info() #gives the number of rows and columns and also the datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8778 entries, 0 to 8777
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             8778 non-null   object
 1   Name            8778 non-null   object
 2   Address1        8665 non-null   object
 3   Address2        192 non-null    object
 4   State           7454 non-null   object
 5   City            8778 non-null   object
 6   Website         6891 non-null   object
 7   YearOfCreation  5891 non-null   float64
 8   Country         8778 non-null   object
 9   Tags            5104 non-null   object
dtypes: float64(1), object(9)
memory usage: 685.9+ KB

In [7]:
pd.set_option('display.max_columns',10) #to make all the columns visible

In [8]:
df

,_id,Name,Address1,Address2,State,City,Website,YearOfCreation,Country,Tags
0,000d70af-d6ee-4550-8649-6849dd7f2b7b,Keefe Piccolo Co Incorporated,54 Church St,NaN,Massachusetts,Winchester,NaN,2000.0,United States,Law Practice
1,001811d3-8f22-4595-a05e-ee396bd93f94,Zaugh Photography,1777 North Vermont Avenue Apartment 50,NaN,California,Los Angeles,NaN,2004.0,United States,Photography
2,001f15b6-0ecb-4294-ba39-ed37bf91df29,Weatherall CO Incorporated,106 Industrial Way,NaN,Indiana,Charlestown,https://weatherall.com,1982.0,United States,NaN
3,0021fccc-46d2-44b4-99bf-0a9d0d51a589,Digital River Incorporated,59 Beaver St,NaN,Massachusetts,Milford,https://digitalriver.com,1994.0,United States,"Internet, e-commerce solutions, global payment..."
4,00233dae-8e8b-4ff3-a186-8f3f8a6140e4,Mark Patton Consulting Incorporated,145 Mammoth Road,NaN,New Hampshire,Londonderry,NaN,2010.0,United States,NaN
...,...,...,...,...,...,...,...,...,...,...
8773,ffe5ac89-b205-47b2-bfba-08615bde52d6,LEVY Company,412 N 4TH ST,NaN,NaN,BATON ROUGE,http://www.thelevyco.com,1995.0,United States,"Accounting, Business and individual taxes, Tax..."
8774,ffe663e2-f464-4d83-bc18-472141da39c4,Convergent retirement plan,19533 highway 371 n,NaN,Minnesota,Brainerd,https://convergentrps.com,NaN,United States,Financial Services
8775,ffe718dc-789d-4d87-917f-e1b9aeec1270,Barber Built,2 Evergreen Terrace,NaN,Massachusetts,Millis,https://barberbuilt.com,2012.0,United States,Construction
8776,ffeb5d62-3a19-4120-b1ab-f7a1f0e7daac,FE JONES CONSTRUCTION Incorporated,73 GRISWOLD ST,NaN,NaN,BINGHAMTON,http://fejones.com,NaN,United States,Construction
8777,fff659d4-4169-40c5-a70e-c73438aa8624,Stihl Saw Shop,170 7th Avenue West North,NaN,Montana,Kalispell,NaN,NaN,United States,NaN

In [9]:
df.head(10) #to look at certain number of rows we can use df.head and the number which we want starting form 0

,_id,Name,Address1,Address2,State,City,Website,YearOfCreation,Country,Tags
0,000d70af-d6ee-4550-8649-6849dd7f2b7b,Keefe Piccolo Co Incorporated,54 Church St,NaN,Massachusetts,Winchester,NaN,2000.0,United States,Law Practice
1,001811d3-8f22-4595-a05e-ee396bd93f94,Zaugh Photography,1777 North Vermont Avenue Apartment 50,NaN,California,Los Angeles,NaN,2004.0,United States,Photography
2,001f15b6-0ecb-4294-ba39-ed37bf91df29,Weatherall CO Incorporated,106 Industrial Way,NaN,Indiana,Charlestown,https://weatherall.com,1982.0,United States,NaN
3,0021fccc-46d2-44b4-99bf-0a9d0d51a589,Digital River Incorporated,59 Beaver St,NaN,Massachusetts,Milford,https://digitalriver.com,1994.0,United States,"Internet, e-commerce solutions, global payment..."
4,00233dae-8e8b-4ff3-a186-8f3f8a6140e4,Mark Patton Consulting Incorporated,145 Mammoth Road,NaN,New Hampshire,Londonderry,NaN,2010.0,United States,NaN
5,00236184-0c20-42ea-a3c5-c52e36f1a38b,Consumer Source Inc,865 South Milliken Avenue,NaN,California,Ontario,http://www.rentpath.com,1975.0,United States,"Internet, Rental Properties, Apartment Search,..."
6,0025bce4-9db4-4dd9-b492-40a52f3d0b9d,Protection Development International Corporation,1555 Railroad Street,NaN,NaN,Corona,https://armor-pdi.com,NaN,United States,NaN
7,002b4beb-11c4-4fe0-ba98-e073ebc3f878,Consultatech,28671 Calle Cortez # K,NaN,California,Temecula,https://consult-a-tech.com,NaN,United States,Automotive
8,0030553d-f4fd-4d35-87d9-d6e82b5657db,Family Dental Center,201 Van Gundy Drive Building A,NaN,Ohio,Bryan,https://whittakerdental.com,1981.0,United States,Medical Practice
9,0032eef7-7747-45ab-a8ff-2850a4ff0865,Berger & Miller Llp,4800 Six Forks Road,NaN,North Carolina,Raleigh,NaN,NaN,United States,NaN

In [10]:

df.tail(10) #we can see the last rows in our dataset

,_id,Name,Address1,Address2,State,City,Website,YearOfCreation,Country,Tags
8768,ffd4de76-e634-429c-9332-ac157d3f8934,Anc Neuro Rehab Center,711 West 38th St # E1,NaN,Texas,Austin,https://austinneuro.com,NaN,United States,NaN
8769,ffdd8141-1db4-4daf-b606-40217448c50b,DUNCAN LIGHTING & HOME Incorporated,290 S MAIN ST,NaN,NaN,BOUNTIFUL,NaN,NaN,United States,NaN
8770,ffddd804-7da1-4866-94b0-7c00815eef01,Maine Building Specialties Company,533 Riverside Industrial Parkway,NaN,Maine,Portland,https://overheaddoor-portland.com,NaN,United States,NaN
8771,ffe241e4-c607-4ee6-9a7e-5af78bdac71e,Chapis Soccer Sports,1200 Nash Lee Drive Sw,NaN,Georgia,Lilburn,https://chapissoccer.com,2010.0,United States,Sports
8772,ffe3b5fa-2666-4422-8328-e2ed76b7a07a,Wellesley Systems Incorporated,Po Box 812119,NaN,Massachusetts,Wellesley,https://wellesleyconservationcouncil.org,1990.0,United States,NaN
8773,ffe5ac89-b205-47b2-bfba-08615bde52d6,LEVY Company,412 N 4TH ST,NaN,NaN,BATON ROUGE,http://www.thelevyco.com,1995.0,United States,"Accounting, Business and individual taxes, Tax..."
8774,ffe663e2-f464-4d83-bc18-472141da39c4,Convergent retirement plan,19533 highway 371 n,NaN,Minnesota,Brainerd,https://convergentrps.com,NaN,United States,Financial Services
8775,ffe718dc-789d-4d87-917f-e1b9aeec1270,Barber Built,2 Evergreen Terrace,NaN,Massachusetts,Millis,https://barberbuilt.com,2012.0,United States,Construction
8776,ffeb5d62-3a19-4120-b1ab-f7a1f0e7daac,FE JONES CONSTRUCTION Incorporated,73 GRISWOLD ST,NaN,NaN,BINGHAMTON,http://fejones.com,NaN,United States,Construction
8777,fff659d4-4169-40c5-a70e-c73438aa8624,Stihl Saw Shop,170 7th Avenue West North,NaN,Montana,Kalispell,NaN,NaN,United States,NaN

In [11]:
df[
    'Website'
]

0                             NaN
1                             NaN
2          https://weatherall.com
3        https://digitalriver.com
4                             NaN
                  ...
8773     http://www.thelevyco.com
8774    https://convergentrps.com
8775      https://barberbuilt.com
8776           http://fejones.com
8777                          NaN
Name: Website, Length: 8778, dtype: object

In [12]:
type(df['Website']) # the below type is a series data type

#Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). 
#The axis labels are collectively called index. 
#Pandas Series is nothing but a column in an excel sheet.

pandas.core.series.Series

In [13]:
df[['Name','Country']]

                                     Name        Country
0           Keefe Piccolo Co Incorporated  United States
1                       Zaugh Photography  United States
2              Weatherall CO Incorporated  United States
3              Digital River Incorporated  United States
4     Mark Patton Consulting Incorporated  United States
...                                   ...            ...
8773                         LEVY Company  United States
8774           Convergent retirement plan  United States
8775                         Barber Built  United States
8776   FE JONES CONSTRUCTION Incorporated  United States
8777                       Stihl Saw Shop  United States

[8778 rows x 2 columns]

In [14]:
df.columns

Index(['_id', 'Name', 'Address1', 'Address2', 'State', 'City', 'Website',
       'YearOfCreation', 'Country', 'Tags'],
      dtype='object')

In [15]:
#iloc allows us to access the rows by integer locatiom

df.iloc[[0,1]]

,_id,Name,Address1,Address2,State,City,Website,YearOfCreation,Country,Tags
0,000d70af-d6ee-4550-8649-6849dd7f2b7b,Keefe Piccolo Co Incorporated,54 Church St,NaN,Massachusetts,Winchester,NaN,2000.0,United States,Law Practice
1,001811d3-8f22-4595-a05e-ee396bd93f94,Zaugh Photography,1777 North Vermont Avenue Apartment 50,NaN,California,Los Angeles,NaN,2004.0,United States,Photography